<div class="card" style="width: 18rem;">
    <img src=<%= figures.rows[j].thumbnail %> class="card-img-top">
    <div class="card-body">
        <a href=<%=  figures.rows[j].hash %> class="card-link">
            <h5 class="card-title"><%= figures.rows[i].name: %></h5>
        </a>
    </div>
</div>