<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('meta'); -%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= figure.name %></title>
    <%- include('import-css'); -%>
    <link rel="stylesheet" href="/static/css/setting.css">
</head>
<body>

    <%- include('import-js'); -%>

</body>
</html>